{
  "openapi": "3.0.0",
  "info": {
    "title": "StockX Public API",
    "version": "2.0.0",
    "description": "Manage StockX seller account using APIs",
    "license": {
      "name": "MIT"
    },
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.stockx.com/v2"
    }
  ],
  "tags": [
    {
      "name": "Batch",
      "description": "Batch APIs enable a user to create, update, delete listings in bulk. Batch APIs are asynchronous in nature and we provide mechanisms to poll the API so that you can keep track of the batch completion.  Once a batch is successfully completed, you can view the status of each individual listing.  We track each individual listing inside a batch separately so you can have scenarios where some listings succeed and some fail in a single batch."
    },
    {
      "name": "Listings",
      "description": "Listings APIs enable a seller to programmatically sell on StockX. The APIs enable a user to  create, update and delete listings on the marketplace, as well as view and fetch live market data for any live or expired listings you have"
    },
    {
      "name": "Catalog",
      "description": "The StockX Catalog API provides a means for partners to search for catalog data, and request products to be added. Partners can search our Catalog to get StockX product and variant IDs for various purposes. Access to the Catalog Ingestion API is approved on a request-by-request basis."
    },
    {
      "name": "Order",
      "description": "Order APIs enable a user to view all their active orders / sales as well as details for a single order."
    }
  ],
  "paths": {
    "/selling/batch/create-listing": {
      "post": {
        "operationId": "CreateListings",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCreateListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Create a new batch of listings",
        "summary": "Batch listings creation",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateListingInput"
              }
            }
          }
        }
      }
    },
    "/selling/batch/create-listing/{batchId}": {
      "get": {
        "operationId": "GetListingCreateBatch",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListingCreateBatchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Once you are able to create a batch successfully, you need to poll the get batch status API to track the progress of the batch.\nThis polling is necessary because all batch operations are asynchronous in nature.",
        "summary": "Batch listings creation - Get Batch Status",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique Batch ID",
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/batch/create-listing/{batchId}/items": {
      "get": {
        "operationId": "GetListingCreateBatchItems",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListingCreateBatchItemsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Once a batch completes successfully, you need to use the get batch items API to see the results of each item in the batch.\nYou can also use this API at any point in time after the batch is created to see the progress of each individual item in a batch.",
        "summary": "Batch listings creation - Get Items",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "The ID of batch",
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Status of listing",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "COMPLETED"
          }
        ]
      }
    },
    "/selling/batch/delete-listing": {
      "post": {
        "operationId": "DeleteListings",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Batch delete listings API allows a user to delete up to 100 individual listings in a single API call.\nThis API is asynchronous in nature and will return a batchId that you would need to poll using the polling APIs described later.",
        "summary": "Batch listings deletion",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteListingInput"
              }
            }
          }
        }
      }
    },
    "/selling/batch/delete-listing/{batchId}": {
      "get": {
        "operationId": "GetListingDeleteBatch",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListingDeleteBatchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Once you are able to create a batch successfully, you need to poll the get batch status API to track the progress of the batch.\nThis polling is necessary because all batch operations are asynchronous in nature.",
        "summary": "Batch listings deletion - Get Batch Status",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique Batch ID",
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/batch/delete-listing/{batchId}/items": {
      "get": {
        "operationId": "GetListingDeleteBatchItems",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListingDeleteBatchItemsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Once a batch completes successfully, you need to use the get batch items API to see the results of each item in the batch.\nYou can also use this API at any point in time after the batch is created to see the progress of each individual item in a batch.",
        "summary": "Batch listings deletion - Get Items",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique Batch ID",
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "COMPLETED"
          }
        ]
      }
    },
    "/selling/batch/update-listing": {
      "post": {
        "operationId": "UpdateListings",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Batch update listings API allows a user to update up to 100 individual listings in a single API call.\nThis API is asynchronous in nature and will return a batchId that you would need to poll using the polling APIs described later.",
        "summary": "Batch listings update",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateListingInput"
              }
            }
          }
        }
      }
    },
    "/selling/batch/update-listing/{batchId}": {
      "get": {
        "operationId": "GetListingUpdateBatch",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListingUpdateBatchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Once you are able to create a batch successfully, you need to poll the get batch status API to track the progress of the batch.\nThis polling is necessary because all batch operations are asynchronous in nature.",
        "summary": "Batch listings update - Get Batch Status",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique Batch ID",
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/batch/update-listing/{batchId}/items": {
      "get": {
        "operationId": "GetListingUpdateBatchItems",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListingUpdateBatchItemsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Once a batch completes successfully, you need to use the get batch items API to see the results of each item in the batch.\nYou can also use this API at any point in time after the batch is created to see the progress of each individual item in a batch",
        "summary": "Batch listings update - Get Items",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique Batch ID",
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Status of listing",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "COMPLETED"
          }
        ]
      }
    },
    "/catalog/ingestion": {
      "post": {
        "operationId": "Ingestion",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestionControllerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "<b>Seamlessly Integrate Catalog Data into Our Platform.</b><br>To create an ingestion job, you need to provide a set of catalog attributes. This API is asynchronous and will return an IngestionID that will require polling.",
        "summary": "Post - Create a Catalog Ingestion Job (Beta)",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CatalogIngestionInput"
                  },
                  {}
                ]
              }
            }
          }
        }
      }
    },
    "/catalog/ingestion/{ingestionId}": {
      "get": {
        "operationId": "IngestionItems",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIngestionItemsReponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "<b>Monitor Your Data Integration Status.</b><br>Once you create an ingestion job successfully, you need to poll the get catalog ingestion API to track the progress, whether the entire job or individual updates.",
        "summary": "Get - Catalog Ingestion Status (Beta)",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique ID used to return the status of an ingestion job.",
            "in": "path",
            "name": "ingestionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The status of the ingestion job. In review, Completed, Rejected.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/catalog/products/{productId}": {
      "get": {
        "operationId": "GetProduct",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get product details API allows you to fetch details for a single product",
        "summary": "Get single product",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique identifier for a product",
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/catalog/products/{productId}/variants/{variantId}": {
      "get": {
        "operationId": "GetVariant",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariantDetails"
                }
              }
            }
          },
          "400": {
            "description": "Variant does not belong to the product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get variant details API allows you to fetch the details of a single variant for a given product.\nIf the product id doesn't contain the specified variant, a validation error will be returned.",
        "summary": "Get single product variant",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique identifier for a product",
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier for a products variant",
            "in": "path",
            "name": "variantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/catalog/products/{productId}/variants": {
      "get": {
        "operationId": "GetVariants",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ProductVariant"
                  },
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get product variants API allows you to get all the different variants of a given product.",
        "summary": "Get all product variants",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique identifier for a product",
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/catalog/products/{productId}/variants/{variantId}/market-data": {
      "get": {
        "operationId": "GetVariantMarketData",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantMarketData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get Market Data API allows you to obtain basic market data - the highest Bid and lowest Ask amount for a given variant.\nIf the product id doesn't contain the specified variant, a validation error will be returned.<br/>\n<b>Note:</b>\n<ul><li>We have deprecated the country param as the market data will now be based on your market.</li>\n<li>Based on your region, the response object may vary.</li></ul>",
        "summary": "Get market data for a variant",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique identifier for a product",
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier for a products variant",
            "in": "path",
            "name": "variantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The currency code this product is being listed in.<br><br>Available values: \"AUD\", \"CAD\", \"CHF\", \"EUR\", \"GBP\", \"HKD\", \"JPY\", \"KRW\", \"MXN\", \"NZD\", \"SGD\", \"USD\"",
            "in": "query",
            "name": "currencyCode",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CurrencyCode"
            }
          },
          {
            "description": "ISO Alpha-2 code representing the country you need the market data for. If not provided, will default to your country.",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string"
            },
            "deprecated": true
          }
        ]
      }
    },
    "/catalog/products/{productId}/market-data": {
      "get": {
        "operationId": "GetProductMarketData",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/VariantMarketData"
                  },
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get Market Data API allows you to obtain basic market data - the highest Bid and lowest Ask amount for all variants of given product.\nYou may notice discrepancies in the values for sellFasterAmount and earnMoreAmount between this and the ‘Get market data for a variant` API. This is because this API does not take into account any live asks you currently have for each individual variant, while the 'Get market data for a variant’ API does.<br/>\n<b>Note:</b>\n<li>Based on your region, the response object may vary.</li></ul>",
        "summary": "Get market data for a product",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique identifier for a product",
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The currency code this product is being listed in.<br><br>Available values: \"AUD\", \"CAD\", \"CHF\", \"EUR\", \"GBP\", \"HKD\", \"JPY\", \"KRW\", \"MXN\", \"NZD\", \"SGD\", \"USD\"",
            "in": "query",
            "name": "currencyCode",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CurrencyCode"
            }
          }
        ]
      }
    },
    "/catalog/search": {
      "get": {
        "operationId": "Search",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Search"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Search catalog API allows you to search the StockX catalog via freeform text.\nThe output is a paginated list of products that match the search term provided in the API call.",
        "summary": "Search catalog",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Specifies a keyword search as a String.",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "example": "nike"
          },
          {
            "description": "Requested page number. By default, the page number starts at 1.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1
            },
            "example": 1
          },
          {
            "description": "The number of products to return. By default, the page size starts at 1.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "example": 10
          }
        ]
      }
    },
    "/selling/listings": {
      "post": {
        "operationId": "Create",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingAsyncOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Create listings API allows you to create new listings.\nThe listings correspond to an ask in the StockX UI. The listings can be for the same variant ID.",
        "summary": "Create a new listing",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListingInput"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetAllListings",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listings"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get all listings API allows you to fetch all existing listings. Multiple filters are available.",
        "summary": "Get all listings",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Requested page number. By default the page number starts at 1",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1
            },
            "example": 1
          },
          {
            "description": "The number of listings to return. By default the page size starts at 1.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "example": 100
          },
          {
            "description": "Comma separated list of ids. This field must not include array brackets `[]` or quotation marks (\" \" | ' ').",
            "in": "query",
            "name": "productIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of ids. This field must not include array brackets `[]` or quotation marks (\" \" | ' ').",
            "in": "query",
            "name": "variantIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of ids. This field must not include array brackets `[]` or quotation marks (\" \" | ' ').",
            "in": "query",
            "name": "batchIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start date of the query",
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2022-06-08"
          },
          {
            "description": "End date of the query",
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2022-06-08"
          },
          {
            "description": "Comma separated list of listing statuses. This field must not include array brackets `[]` or quotation marks (\"\" | '').<br><br>Available values: \"INACTIVE\", \"ACTIVE\", \"DELETED\", \"CANCELED\", \"MATCHED\", \"COMPLETED\"",
            "in": "query",
            "name": "listingStatuses",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "ACTIVE"
          },
          {
            "description": "Comma-separated list of inventory type(s). This field must not include array brackets [] or quotation marks (\"| ''). The inventory types are STANDARD, FLEX or DIRECT.",
            "in": "query",
            "name": "inventoryTypes",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "STANDARD"
          },
          {
            "description": "The shipment's unique display id associated with the listing. Note: This is the same ID generated when a Flex inbound list is created in StockX Pro.",
            "in": "query",
            "name": "initiatedShipmentDisplayIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/listings/{listingId}/activate": {
      "put": {
        "operationId": "ActivateListing",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingAsyncOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Activate listing API allows you to activate a listing. A listing is active when it contains an available ask.",
        "summary": "Activate a listing",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique ID for this listing",
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateListingInput"
              }
            }
          }
        }
      }
    },
    "/selling/listings/{listingId}/deactivate": {
      "put": {
        "operationId": "DeactivateListing",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingAsyncOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Deactivate listing API allows you to deactivate a listing. A listing is deactivated when it doesn't have an ask or when it contains an expired ask.",
        "summary": "Deactivate a listing",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique ID for this listing",
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/listings/{listingId}": {
      "patch": {
        "operationId": "Update",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingAsyncOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Operation used to update an existing listing by its ID.",
        "summary": "Update a listing",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique ID for this listing",
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListingInput"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteListing",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingAsyncOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Operation used to delete an existing listing by its ID.",
        "summary": "Delete a listing",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique ID for this listing",
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "FindById",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get a listing API allows you to get a listing by its ID.",
        "summary": "Get single listing",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique ID for this listing",
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/listings/{listingId}/operations/{operationId}": {
      "get": {
        "operationId": "FindOperationById",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get listing operation API allows you to fetch a listing operation by listing ID and operation ID",
        "summary": "Get single listing operation",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique ID for this listing.",
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID for this operation.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/listings/{listingId}/operations": {
      "get": {
        "operationId": "GetListingOperations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsCursorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get all listing operations API allows you to fetch a paginated list of single listing with all operations.",
        "summary": "Get all listing operations",
        "tags": [
          "Listings"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "Unique ID for this listing",
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Requested page number. Starts at 1.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "description": "The cursor to use as a starting point",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/orders/active": {
      "get": {
        "operationId": "GetOrders",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get all active orders API allows you to view all their active orders in the StockX marketplace.\nAn order is considered active from the time it was created to the time the product was received and authenticated by StockX and the seller is paid out.",
        "summary": "Get active orders",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "The number of page",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "description": "Requested page number. Starts at 1",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "description": "To filter your Orders by a given order status<br><br>Available values: \"CREATED\", \"CCAUTHORIZATIONFAILED\", \"SHIPPED\", \"RECEIVED\", \"AUTHENTICATING\", \"AUTHENTICATED\", \"PAYOUTPENDING\", \"PAYOUTCOMPLETED\", \"SYSTEMFULFILLED\", \"PAYOUTFAILED\", \"SUSPENDED\"",
            "in": "query",
            "name": "orderStatus",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "CREATED"
          },
          {
            "description": "Unique identifier for a product",
            "in": "query",
            "name": "productId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier for a products variant",
            "in": "query",
            "name": "variantId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The field by which the results are sorted. Defaults to \"CREATEDAT\" and can also accept \"SHIPBYDATE\".",
            "in": "query",
            "name": "sortOrder",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma-separated list of inventory type(s). This field must not include array brackets [] or quotation marks (\"| ''). The inventory types are STANDARD, FLEX or DIRECT.",
            "in": "query",
            "name": "inventoryTypes",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "STANDARD"
          },
          {
            "description": "The shipment's unique display id associated with the order. Note: This is the same ID generated when a Flex inbound list is created in StockX Pro.",
            "in": "query",
            "name": "initiatedShipmentDisplayIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/orders/history": {
      "get": {
        "operationId": "GetHistoricalOrders",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get all historical orders. Multiple filters are available.",
        "summary": "Get historical orders",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "The start date of when the orders were created. Format is YYYY-MM-DD.",
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end date of when the orders were created. Format is YYYY-MM-DD.",
            "in": "query",
            "name": "toDate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The requested page number. By default the page number is 1",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1
            },
            "example": 1
          },
          {
            "description": "The number of orders to be returned. By default the number is 10",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "example": 100
          },
          {
            "description": "To filter your Orders by a given order status<br><br>Available values: \"AUTHFAILED\", \"DIDNOTSHIP\", \"CANCELED\", \"COMPLETED\", \"RETURNED\"",
            "in": "query",
            "name": "orderStatus",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "CANCELED"
          },
          {
            "description": "Unique StockX product ID",
            "in": "query",
            "name": "productId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique StockX variant ID",
            "in": "query",
            "name": "variantId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma-separated list of inventory type(s). This field must not include array brackets [] or quotation marks (\"| ''). The inventory types are STANDARD, FLEX or DIRECT.",
            "in": "query",
            "name": "inventoryTypes",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "STANDARD"
          },
          {
            "description": "The shipment's unique display id associated with the order. Note: This is the same ID generated when a Flex inbound list is created in StockX Pro.",
            "in": "query",
            "name": "initiatedShipmentDisplayIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/orders/{orderNumber}": {
      "get": {
        "operationId": "GetOrder",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedOrder"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get order details API allows you to fetch details for a single order by order number.\nThis includes shipping and payout information.",
        "summary": "Get single order",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "description": "The unique order number. Standard example: 323314425-323214184. Flex example: 02-L0QT6MRVSG",
            "in": "path",
            "name": "orderNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/selling/orders/{orderNumber}/shipping-document/{shippingId}": {
      "get": {
        "operationId": "GetOrderShipment",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/pdf": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get an existing shipping document.",
        "summary": "Get shipping document",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "jwt-authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of order to fetch",
            "in": "path",
            "name": "orderNumber",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "323314425-323214184"
          },
          {
            "description": "The shipping ID of order to fetch",
            "in": "path",
            "name": "shippingId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "323314425-323214184"
          }
        ]
      }
    },
    "/selling/orders/{orderNumber}/shipping-document": {
      "get": {
        "operationId": "GetOrderShipmentDocuments",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiError"
                }
              }
            }
          }
        },
        "description": "Get shipping documents for an order. This endpoint only supports Direct order types.",
        "summary": "Get order shipping document",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "api_key": [],
            "jwt": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "jwt-authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of order to fetch",
            "in": "path",
            "name": "orderNumber",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "06-9XUDDWG8F1"
          }
        ]
      }
    }
  },
  "components": {
    "examples": {},
    "headers": {},
    "parameters": {},
    "requestBodies": {},
    "responses": {},
    "schemas": {
      "HttpStatusCodeLiteral": {
        "type": "number",
        "enum": [
          100,
          101,
          102,
          200,
          201,
          202,
          203,
          204,
          205,
          206,
          207,
          208,
          226,
          300,
          301,
          302,
          303,
          304,
          305,
          307,
          308,
          400,
          401,
          402,
          403,
          404,
          405,
          406,
          407,
          408,
          409,
          410,
          411,
          412,
          413,
          414,
          415,
          416,
          417,
          418,
          422,
          423,
          424,
          426,
          428,
          429,
          431,
          451,
          500,
          501,
          502,
          503,
          504,
          505,
          506,
          507,
          508,
          510,
          511
        ]
      },
      "PublicApiError": {
        "properties": {
          "statusCode": {
            "$ref": "#/components/schemas/HttpStatusCodeLiteral",
            "description": "The error status code",
            "example": 400
          },
          "message": {
            "type": "string",
            "description": "The error message",
            "example": "The request did not succeed 😭"
          }
        },
        "required": [
          "statusCode",
          "message"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "BatchStatusCounts": {
        "properties": {},
        "additionalProperties": {
          "type": "number",
          "format": "double"
        },
        "type": "object",
        "example": {
          "queued": "20",
          "failed": "1"
        },
        "description": "The number of items in this batch grouped by their statuses.\nThis is a short-hand way to quickly introspect how many items are still enqued, how many succeeded or how many failed in a batch."
      },
      "BatchCreateListingResponse": {
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique Batch ID",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "status": {
            "type": "string",
            "description": "The status of the batch",
            "example": "QUEUED"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "When the batch fully completed",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "createdAt": {
            "type": "string",
            "description": "when this batch was created in UTC. Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "When this batch was last updated in UTC. Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "totalItems": {
            "type": "number",
            "format": "double",
            "description": "Total number of items in this batch",
            "example": 10
          },
          "itemStatuses": {
            "$ref": "#/components/schemas/BatchStatusCounts",
            "description": "The number of items in this batch grouped by their statuses.\nThis is a short-hand way to quickly introspect how many items are still enqued, how many succeeded or how many failed in a batch."
          }
        },
        "required": [
          "batchId",
          "status",
          "completedAt",
          "createdAt",
          "updatedAt",
          "totalItems",
          "itemStatuses"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "CreateBatchListingRequestItem": {
        "properties": {
          "inventoryType": {
            "type": "string",
            "description": "The inventory this product is being listed in. If not provided, it will default to STANDARD.",
            "example": "STANDARD"
          },
          "active": {
            "type": "boolean",
            "description": "Flag used to indicate that the listing should be active or not",
            "example": true
          },
          "quantity": {
            "type": "number",
            "format": "double",
            "description": "The total number of Listings that need to be created.",
            "example": 10
          },
          "currencyCode": {
            "type": "string",
            "description": "The currency this Listing is being listed in. If not provided, it will default to USD.<br><br>Available values: \"AUD\", \"CAD\", \"CHF\", \"EUR\", \"GBP\", \"HKD\", \"JPY\", \"KRW\", \"MXN\", \"NZD\", \"SGD\", \"USD\"",
            "example": "USD"
          },
          "variantId": {
            "type": "string",
            "description": "Unique StockX variant ID that this Listing is being created for",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "expiresAt": {
            "type": "string",
            "description": "UTC timestamp representing when this Listing should auto-expire.  If not provided, it will default to 365 days from today. Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "amount": {
            "type": "string",
            "description": "The amount this Listing is being listed for",
            "example": "79"
          }
        },
        "required": [
          "quantity",
          "variantId",
          "amount"
        ],
        "type": "object"
      },
      "BatchCreateListingInput": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/CreateBatchListingRequestItem"
            },
            "type": "array",
            "description": "An array of items that should be associated with the batch"
          }
        },
        "required": [
          "items"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "UUID": {
        "type": "string",
        "example": "bf364c53-eb77-4522-955c-6a6ce952cc6f",
        "description": "Stringified UUIDv4.\nSee [RFC 4112](https://tools.ietf.org/html/rfc4122)",
        "pattern": "[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}"
      },
      "GetListingCreateBatchResponse": {
        "properties": {
          "batchId": {
            "$ref": "#/components/schemas/UUID",
            "description": "Unique Batch ID",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "status": {
            "type": "string",
            "description": "The status of this batch",
            "example": "QUEUED"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "When this batch fully completed. Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "createdAt": {
            "type": "string",
            "description": "When this batch was created. Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "When this batch was last updated. Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "totalItems": {
            "type": "number",
            "format": "double",
            "description": "Total number of items in this batch",
            "example": 10
          },
          "itemStatuses": {
            "$ref": "#/components/schemas/BatchStatusCounts",
            "description": "The number of items in this batch grouped by their statuses.\nThis is a short-hand way to quickly introspect how many items are still enqued, how many succeeded or how many failed in a batch",
            "example": "IN_PROGRESS"
          }
        },
        "required": [
          "batchId",
          "status",
          "completedAt",
          "createdAt",
          "updatedAt",
          "totalItems",
          "itemStatuses"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "GetListingCreateBatchItem": {
        "properties": {
          "itemId": {
            "type": "string",
            "nullable": true,
            "description": "Unique Item ID",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "The status of this item",
            "example": "QUEUED"
          },
          "listingInput": {
            "properties": {
              "active": {
                "type": "boolean",
                "nullable": true,
                "description": "Whether this listing is active"
              },
              "currencyCode": {
                "type": "string",
                "nullable": true,
                "description": "The currency code for this listing<br><br>Available values: \"AUD\", \"CAD\", \"CHF\", \"EUR\", \"GBP\", \"HKD\", \"JPY\", \"KRW\", \"MXN\", \"NZD\", \"SGD\", \"USD\"",
                "example": "USD"
              },
              "variantId": {
                "type": "string",
                "nullable": true,
                "description": "The ID of the variant",
                "example": "98e2e748-8000-45bf-a624-5531d6a68318"
              },
              "expiresAt": {
                "type": "string",
                "nullable": true,
                "description": "When this listing expires in UTC",
                "example": "2021-11-09T12:44:31.000Z"
              },
              "amount": {
                "type": "string",
                "nullable": true,
                "description": "The amount this listing is listed for",
                "example": "300"
              }
            },
            "required": [
              "active",
              "currencyCode",
              "variantId",
              "expiresAt",
              "amount"
            ],
            "type": "object",
            "description": "The input for this item that was used when creating the batch"
          },
          "result": {
            "properties": {
              "askId": {
                "type": "string",
                "nullable": true,
                "description": "The unique askId of this listing.",
                "example": "98e2e748-8000-45bf-a624-5531d6a68318"
              },
              "listingId": {
                "type": "string",
                "nullable": true,
                "description": "The unique listingId of this listing. This is a new ID being introduced that is analogous to askId",
                "example": "98e2e748-8000-45bf-a624-5531d6a68318"
              }
            },
            "required": [
              "askId",
              "listingId"
            ],
            "type": "object",
            "description": "If an item was successfully processed, the result object will contain the following:"
          },
          "error": {
            "type": "string",
            "description": "If an item failed to process, the error attribute will contain the error message describing the reason the item failed to process"
          }
        },
        "required": [
          "itemId",
          "status",
          "listingInput"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "GetListingCreateBatchItemsResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/GetListingCreateBatchItem"
            },
            "type": "array",
            "description": "An array of items associated with the listing"
          }
        },
        "required": [
          "items"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "BatchDeleteListingResponse": {
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique Batch ID",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "status": {
            "type": "string",
            "description": "The status of the batch",
            "example": "QUEUED"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "When this batch was completed in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "createdAt": {
            "type": "string",
            "description": "When this batch was created in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "When this batch was updated in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "totalItems": {
            "type": "number",
            "format": "double",
            "description": "Total number of items in this batch",
            "example": 10
          },
          "itemStatuses": {
            "$ref": "#/components/schemas/BatchStatusCounts",
            "description": "The number of items in this batch grouped by their statuses. This is a short-hand way to quickly introspect how many items are still enqued, how many succeeded or how many failed in a batch"
          }
        },
        "required": [
          "batchId",
          "status",
          "completedAt",
          "createdAt",
          "updatedAt",
          "totalItems",
          "itemStatuses"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "DeleteBatchListingRequestItem": {
        "properties": {
          "listingId": {
            "type": "string",
            "description": "Unique listing ID that needs to be deleted",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          }
        },
        "required": [
          "listingId"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "BatchDeleteListingInput": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/DeleteBatchListingRequestItem"
            },
            "type": "array",
            "description": "An array of IDs that should be associated with the batch"
          }
        },
        "required": [
          "items"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "GetListingDeleteBatchResponse": {
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique Batch ID",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "status": {
            "type": "string",
            "description": "The status of the batch",
            "example": "QUEUED"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "When this batch was completed in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "createdAt": {
            "type": "string",
            "description": "When this batch was created in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "When this batch was updated in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "totalItems": {
            "type": "number",
            "format": "double",
            "description": "Total number of items in this batch",
            "example": 10
          },
          "itemStatuses": {
            "$ref": "#/components/schemas/BatchStatusCounts",
            "description": "The number of items in this batch grouped by their statuses. This is a short-hand way to quickly introspect how many items are still enqued, how many succeeded or how many failed in a batch"
          }
        },
        "required": [
          "batchId",
          "status",
          "completedAt",
          "createdAt",
          "updatedAt",
          "totalItems",
          "itemStatuses"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "GetListingDeleteBatchItem": {
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique Item ID",
            "example": "09f3f859-9000-56cg-a624-6642d6a68318"
          },
          "status": {
            "type": "string",
            "description": "The status of the task",
            "example": "IN_PROGRESS"
          },
          "listingInput": {
            "properties": {
              "id": {
                "type": "string",
                "description": "The id of target listing"
              }
            },
            "required": [
              "id"
            ],
            "type": "object",
            "description": "The input for this item that was used when creating the batch"
          },
          "error": {
            "type": "string",
            "description": "If an item failed to process, the error attribute will contain the error message describing the reason the item failed to process"
          },
          "result": {
            "properties": {
              "askId": {
                "type": "string",
                "nullable": true,
                "description": "The unique askId of this listing.",
                "example": "09f3f859-9000-56cg-a624-6642d6a68318"
              },
              "listingId": {
                "type": "string",
                "nullable": true,
                "description": "The unique listingId of this listing. This is a new ID being introduced that is analogous to askId",
                "example": "09f3f859-9000-56cg-a624-6642d6a68318"
              }
            },
            "required": [
              "askId",
              "listingId"
            ],
            "type": "object",
            "description": "If an item was successfully processed, the result object will contain the following:"
          }
        },
        "required": [
          "itemId",
          "status",
          "listingInput"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "GetListingDeleteBatchItemsResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/GetListingDeleteBatchItem"
            },
            "type": "array",
            "description": "An array of items associated with the listing"
          }
        },
        "required": [
          "items"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "BatchUpdateListingResponse": {
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique Batch ID",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "status": {
            "type": "string",
            "description": "The status of the batch",
            "example": "QUEUED"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "When this batch was last completed in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "createdAt": {
            "type": "string",
            "description": "When this batch was last created in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "When this batch was last updated in UTC.  Represented as ISO 8601 format like 2021-11-09T12:44:31.000Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "totalItems": {
            "type": "number",
            "format": "double",
            "description": "Total number of items in this batch",
            "example": 10
          },
          "itemStatuses": {
            "$ref": "#/components/schemas/BatchStatusCounts",
            "description": "The number of items in this batch grouped by their statuses.\nThis is a short-hand way to quickly introspect how many items are still enqued, how many succeeded or how many failed in a batch"
          }
        },
        "required": [
          "batchId",
          "status",
          "completedAt",
          "createdAt",
          "updatedAt",
          "totalItems",
          "itemStatuses"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "UpdateBatchListingRequestItem": {
        "properties": {
          "listingId": {
            "type": "string",
            "description": "Unique listing ID that needs to be updated",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "amount": {
            "type": "string",
            "description": "The amount this Listing is updated to",
            "example": 79
          },
          "expiresAt": {
            "type": "string",
            "description": "UTC timestamp representing the Listing expiry date that is being updated to",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "currencyCode": {
            "type": "string",
            "description": "The currency this Listing is updated to<br><br>Available values: \"AUD\", \"CAD\", \"CHF\", \"EUR\", \"GBP\", \"HKD\", \"JPY\", \"KRW\", \"MXN\", \"NZD\", \"SGD\", \"USD\"",
            "example": "USD"
          },
          "active": {
            "type": "boolean",
            "description": "Flag used to indicate that the listing should be active or not",
            "example": true
          }
        },
        "required": [
          "listingId"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "BatchUpdateListingInput": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/UpdateBatchListingRequestItem"
            },
            "type": "array",
            "description": "An array of items that should be associated with the batch"
          }
        },
        "required": [
          "items"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "GetListingUpdateBatchResponse": {
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique Batch ID",
            "example": "98e2e748-8000-45bf-a624-5531d6a68318"
          },
          "status": {
            "type": "string",
            "description": "The status of the batch",
            "example": "QUEUED"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "When this batch was completed in UTC. Represented as ISO 8601 format like 2022-01-18T20:20:39Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "createdAt": {
            "type": "string",
            "description": "When this batch was created in UTC. Represented as ISO 8601 format like 2022-01-18T20:20:39Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "When this batch was updated in UTC. Represented as ISO 8601 format like 2022-01-18T20:20:39Z",
            "example": "2021-11-09T12:44:31.000Z"
          },
          "totalItems": {
            "type": "number",
            "format": "double",
            "description": "Total number of items in this batch",
            "example": 10
          },
          "itemStatuses": {
            "$ref": "#/components/schemas/BatchStatusCounts",
            "description": "The number of items in this batch grouped by their statuses. This is a short-hand way to quickly introspect how many items are still enqued, how many succeeded or how many failed in a batch"
          }
        },
        "required": [
          "batchId",
          "status",
          "completedAt",
          "createdAt",
          "updatedAt",
          "totalItems",
          "itemStatuses"
        ],
[...]
